:root {
    --blue: #4007ff;
    --indigo: #2800af;
    --purple: #6a18ea;
    --aqua: #87fff2;
}

html {
    height: 100%;
}

@font-face {
    font-family: roboto-black;
    src: url(./fonts/Roboto-Black.ttf);
  }


/* header */

.header {
    margin: 0px;
}

.header img {
    height: 30px;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

.header ul {
    margin: 0px;
    padding: 20px 30px;
    display: flex;
    list-style: none;
    align-items: center;
}

.header ul li {
    display: inline-block;
    margin-left: 5px;
}

.header ul li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: roboto-black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}


/* body */

body {
    margin: 0px;
    padding: 0px;
    background-color: #3442BF;
    /*   background-color: #0093E9;
       background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
       
}