:root {
    --blue: #4007ff;
    --indigo: #2800af;
    --purple: #6a18ea;
    --aqua: #87fff2;
}

html {
    height: 100%;
}

@font-face {
    font-family: roboto-black;
    src: url(./fonts/Roboto-Black.ttf) format("truetype");
  }
@font-face {
    font-family: anton-regular;
    src: url(./fonts/Anton-Regular.ttf) format("truetype");
}

/* tools */

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

/* header */

.header {
    margin: 0px;
}

.header img {
    height: 30px;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

.header a {
    margin: 2vh 2vw;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: roboto-black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: transparent;
}


/* body */

body {
    margin: 0px;
    background-color: #3442BF;
}

/* timer */

.timer {
    margin-top: 20vh;
    width: 100vw;
    display: flexbox;
    justify-content: center;
}

.timer #counter {
    display: flex;
    align-items: center;
    justify-content: center;

}

.timer span {
    font-family: anton-regular;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.timer input {
    transition: ease-in 0.1s;
    font-family: roboto-black;
    font-size: 70px;
    color: white;
    text-align: center;
    width: 5.2rem;
    background-color: transparent;
    border-style: none;
    outline: none;
    margin: 5px 10px;
}

.timer input:hover {
    cursor: pointer;
}

.timer input:focus {
    outline: 3px solid rgba(0, 0, 0, 0.5);
    cursor: auto;
}

.timer #buttons {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.timer button {
    border-radius: 30px;
    transition: ease 0.2s;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    background: none;
    color: white;
    width: 8rem;
    height: 3rem;
    min-height: fit-content;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.timer button:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.timer button:active {
    transform: scale(0.9);
}

.start-stop-button {
    margin-right: 8vw;
    font-family: roboto-black;
    font-size: 20px;
}

.reset-button {
    margin-left: 8vw;
    font-family: roboto-black;
    font-size: 20px;
}




@media only screen and (max-width: 500px) {
    .timer {
        transform: scale(0.7);
    }
    .timer button {
        margin-top: 20vh;
    }
}
@media only screen and (max-width: 300px) {
    .timer {
        transform: scale(0.6);
    }

}
 